<div class="row" ng-controller="DishesController" ng-init="find()">
  <h1>Search your dishes</h1>
  <form>
    Type:
    <input type="checkbox" value="Chinese">Chinese</input>
    <input type="checkbox" value="American">American</input>
    <input type="checkbox" value="Indian">Indian</input>
    <input type="checkbox" value="Japanese">Japanese</input>
    <input type="checkbox" value="Mexican">Mexican</input>

    Price range:
    $<input type="number"></input>&empt;~$<input type="number"></input>

    Style:
    <input type="radio">Fast</input>
    <input type="radio">Restaurant</input>
  </form>
</div>
